<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="automationlearning.testcomponents.Listeners"/>
</listeners>
  <test thread-count="5" name="Submit Orders Test">
    <classes>
      <class name="automationlearning.testcomponents.SubmitOrderTest"/>
    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="Error Validation Test">
    <classes>
      <class name="automationlearning.testcomponents.ErrorValidationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
